html {
  height: 100vh;
}
body {
  height: 100%;
  background-color: rgb(22, 25, 112);
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
  border-radius: 39px;
  padding: 33px 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 375px;
  height: 412px;
}

.calculator__input {
  color: #fff;
}
.calculator__output {
  color: #fff;
}
.calculator__buttons {
}
.buttons__item {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  line-height: 1;
}
.input {
}
.output {
}
.buttons {
  display: grid;
}
